body{
    background-color: rgb(44, 44, 44);
    color: rgb(255, 255, 255);
}
.card p-4{
    background-color: black;
}
   .body-login {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(135deg, #212529 0%, #343a40 100%);
        }
        .login-card {
            width: 100%;
            max-width: 400px;
            border: none;
            border-radius: 15px;
        }